.progress {
  border: 1px solid black;
  border-radius: 5px;
  height: 25px;
  padding: 5px;
  margin-bottom: 10px;
  &__bar {
    height: 100%;
    background-color: orangered;
  }
  &--big {
    height: 35px;
  }
  &--color-red {
    color: red;
  }
}