@import "./components/app.scss";
@import "./components/clock.scss";
@import "./components/currenttimebox.scss";
@import "./components/progressbar.scss";
@import "./components/timebox.scss";

.TimeboxEditor,
.TimeboxCreator {
  text-align: right;
  border: 1px solid gray;
  border-radius: 5px;
  padding: 20px;
  margin-bottom: 20px;
}